body {
    margin: 0;
  }
  
  .upper-section {
    z-index: 0;
    position: relative;
    height: 30rem;
    background-color: #97B3B4;
  }
  
  .lower-section {
    z-index: 3;
    position: relative;
    height: 50rem;
    background-color: #FAEFE3;
  }
  
  .card {
    z-index: 5;
    height: 24rem;
    width: 16rem;
    background-color: #96A399;
    position: absolute;
    top: 10rem;
    left: 10rem;
    border-radius: 1rem;
  }
  
  /* sits under the card and above the lower section */
  .card-lower-overlap {
    z-index: 4; /* change to 6 to show whats going on */
    position: absolute;
    height: 4.6rem; /*  height of the overlapped portion of the lower section plus a little to ensure shadow is large enough */
    width: 16rem;
    top: 29.4rem; /* position at the bottom of the card */
    left: 10rem;
    background-color: #96A399; /* match color so border radius doesnt reveal this layer */
    box-shadow: 5px 5px 7px 2px #373430ad;  /* the shadow is positioned to match the top of the lower layer */
    border-radius: 0 0 1rem 1rem;
  }
  
  .card-shadow-light-blur {
    z-index: 2;
    height: 24rem;
    width: 16rem;
    background-color: #27201d8f;
    position: absolute;
    top: 11.5rem;
    left: 11rem;
    filter: blur(0.5rem);
    border-radius: 1rem;
  }
  
  .card-shadow-heavy-blur {
    z-index: 1;
    height: 24rem;
    width: 16rem;
    background-color: #2e36378a;
    position: absolute;
    top: 13rem;
    left: 13rem;
    filter: blur(1.5rem);
  }